.appBodyUi .appBodyUiFilter {
  border-radius: 5px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  padding: 9px 15px;
}

.appBodyUi .appBodyUiFilter .form-group {
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
}

.appBodyUi .appBodyUiFilter .form-group label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--bodyMedLightGrey);
  font-weight: 500;
}

.appBodyUi .appBodyUiFilter .form-control {
  font-size: 11px;
  color: var(--bodyTxt);
  font-weight: 600;
  letter-spacing: 1px;
}

.appBodyUi .appBodyUiFilter .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.appBodyUi .appBodyUiFilter .appBodyUiFilterInput .form-control {
  border-radius: 16px;
  background-color: #f0f2f7;
  border: 1px solid #e3e8f0;
  font-size: 11px;
}

.appBodyUi .appBodyUiFilter .appBodyUiFilterInput .form-check-input {
  margin-top: 1px;
}

.appBodyUi .appBodyUiFilter .appBodyUiFilterInput .shipingSelect .form-control {
  padding: 0;
  border: none;
  text-transform: uppercase;
  background: transparent;
}

.appBodyUi .appBodyUiFilter .appBodyUiFilterInput .shipingLabel::before {
  content: '';
  background: var(--DividerBorder);
  height: 48.5px;
  width: 1px;
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
}

.appBodyUi .appBodyUiFilterSort {
  width: 220px;
  position: relative;
}

.appBodyUi .appBodyUiFilterSort .form-control {
  padding: 0;
  border: none;
  text-transform: uppercase;
}

.appBodyUi .appBodyUiFilterSort .form-control option {
  text-align: right;
}

.appBodyUi .appBodyUiFilterSort::after {
  content: '';
  background: var(--DividerBorder);
  height: 48.5px;
  width: 1px;
  display: block;
  position: absolute;
  top: -10px;
  right: -25px;
}

.shoppngCategories .accordion .card .card-header {
  font-size: 13px;
  text-align: left;
  color: var(--bodyTxt);
  font-weight: 600;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shoppngCategories .accordion .card .card-body {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
  padding: 0;
}

.shoppngCategories .accordion .card .card-body .list-group .list-group-item {
  background: var(--CardBox);
  border-top: none;
  border-right: none;
  border-left: none;
  color: var(--bodyMedLightGrey);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shoppngCategories .accordion .card .card-body .list-group .list-group-item:hover {
  color: var(--bodyTxt);
  letter-spacing: 0.5px;
  font-weight: 500;
}

.shoppngCategories .accordion .card .card-body .list-group .list-group-item:last-child {
  border: none;
}

.availableFilterOption {
  padding: 30px 0;
}

.availableFilterOption .card-header {
  text-align: left;
  font-size: 11px;
  letter-spacing: 1px;
  color: var(--bodyTxt);
  font-weight: 600;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.availableFilterOption .card-body {
  text-align: left;
}

.availableFilterOption .card-body .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.availableFilterOption .card-body .form-group .form-check .form-check-label {
  font-size: 13px;
  color: var(--bodyTxt);
  font-weight: 600;
}

.availableFilterOption .card-body .form-group .form-text {
  font-size: 11px;
  color: #b8bfd3;
  font-weight: 600;
}

.availableFilterOption .card-body .form-group:last-child {
  margin-bottom: 0;
}

.availableFilterOption .card-body .form-group .form-check-input {
  margin-top: 6px;
}

.productBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.productBox .card {
  font-weight: 600;
  width: 31%;
  margin-bottom: 1.5rem;
}

.productBox .card .card-img-top {
  padding: 25px 25px 0;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.productBox .card .card-title {
  font-size: 16px;
  font-weight: 600;
  color: #1c1e23;
}

.productBox .card .card-subtitle {
  font-size: 12px;
  letter-spacing: 1px;
  color: #b8bfd3;
  font-weight: 600;
}

.productBox .card .card-text {
  font-size: 14px;
  line-height: 20px;
  color: #343e5c;
}

.productBox .card:last-child {
  width: calc(66% - 6px);
}

.productBox .card:last-child .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #1b1d23;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.productBox .card:last-child .card-img-top {
  padding: 0;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.productBox .card:last-child .card-title, .productBox .card:last-child .card-subtitle {
  text-align: left;
}

.productBox .card:last-child .btn-group {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.productBox .card:last-child .btn-group .btn {
  color: var(--bodyTxt);
  background: transparent;
  border-radius: 17px;
  border: 2px solid #f0f2f7;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
}

.productBox .card:last-child .btn-group .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.productBox .card:last-child .btn-group .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.productBox .card:last-child .btn-group .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination {
  height: 80px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.pagination .page-item .page-link {
  border: none;
  width: 48px;
  height: 48px;
  font-size: 14px;
  color: #3a405b;
  font-weight: 600;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 24px;
}

.pagination .page-item.active .page-link {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 5px 15px rgba(168, 172, 185, 0.4);
          box-shadow: 0px 5px 15px rgba(168, 172, 185, 0.4);
  background: var(--white);
  color: var(--bodyGreyTxt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.pagination .page-item:first-child {
  width: 100px;
  text-align: end;
}

.pagination .page-item:last-child {
  width: 100px;
  text-align: left;
}

.bestSellerBox .card .card-header {
  background: var(--white);
  font-size: 11px;
  letter-spacing: 1px;
  color: #343e5c;
  font-weight: 600;
  text-transform: uppercase;
}

.bestSellerBox .productBox {
  padding: 0;
}

.bestSellerBox .productBox .card {
  border-bottom: none;
  border-left: none;
  border-top: none;
  width: 25%;
  border-radius: 0;
  margin-bottom: 0;
}

.bestSellerBox .productBox .card:last-child {
  border-bottom: none;
  border-right: none;
}

.bestSellerBox .productBox .card:last-child .card-title, .bestSellerBox .productBox .card:last-child .card-subtitle {
  text-align: center;
}

.bestSellerBox .productBox .card:last-child .card-img-top {
  padding: 25px 25px 0;
  height: 200px;
  -o-object-fit: none;
     object-fit: none;
}

.testimonial {
  background: var(--white);
  padding: 73px 0;
  margin-top: 60px;
}

.testimonial h2 {
  font-size: 32px;
  color: #222328;
  font-weight: 900;
}

.testimonial h4 {
  font-size: 16px;
  color: #b9bed1;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 50px;
}

.testimonial .media {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 33.3%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.testimonial .media img {
  margin-bottom: 15px;
}

.testimonial .media h5 {
  font-size: 14px;
  color: #3a405b;
  font-weight: 600;
}

.testimonial .media .media-body {
  text-align: left;
}

.testimonial .media .media-body p {
  font-size: 14px;
  color: #b9bed1;
  margin-bottom: 0;
  font-style: italic;
  margin-bottom: 5px;
}

.testimonial .media p {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #3a405b;
}
/*# sourceMappingURL=appBody.css.map */